* {
    box-sizing: inherit;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
}

:root{
    --based-color: #5b6f92;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.music-player, 
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    width: 400px;
    box-shadow: 0 0 15px rgb(96, 96, 96);
    overflow: auto;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 0;
    width: 100%;
    background-color: #10192020;
    z-index: 1;
    flex: 1;
}

.header__title p {
    font-weight: bold;
    color: var(--based-color);
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
}

.header__title h2 {
    margin: 4px 0 8px 0;
    font-weight: 600;
    color: rgb(180, 180, 180);
    text-align: center;
}

.header__title {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
} 

.volume {
    align-items: center;
    display: flex;
    margin: auto auto auto 26%;
    flex: 1;
}

.icon-volume {
    min-width: 20px;
    color: var(--based-color);
}

.volume-input {
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    width: 160px;
    outline: none;
    overflow: hidden;
}

.volume-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    width: 8px;
    background-color: var(--based-color);
    box-shadow: -20rem 5rem 0 20rem #71c4c2;
}

.cd {
    display: flex;
    justify-content: center;
}

.cd_pic {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    object-fit: cover;
}


.header__control {
    display: flex;
    justify-content: center;
    margin: 12px 0;
}

.icon {
    display: inline-flex;
    width: 20%;
    justify-content: center;
    font-size: 1.4rem;
    align-items: center;
    color: white;
}

.control {
    width: 20%;
    justify-content: center;
    display: inline-flex;
}

.icon-play,
.footer-play .icon-pause {
    width: 50px;
    height: 50px;
    font-size: 1.8rem;
    border-radius: 50%;
    color: white;
    background-color: var(--based-color);
    line-height: 50px;
    display: block;
    text-align: center;
}

.icon-pause,
.footer-play .icon-play {
    display: none;
}

.song {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin: 8px;
    cursor: pointer;
}

.song-option-icon {
    display: block;
}

.song_pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 16px;
    object-fit: cover;
}

.song_name {
    margin: 8px 0;
    font-size: 1.3rem;
    color: var(--based-color);
}

.song_detail {
    flex: 1;
}

.song_singer {
    margin: 4px 0 8px 0;
    color: #737373;
}


.song-option-icon {
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    transform: rotate(90deg);
    font-size: 1.5rem;
    color: #737373;
    border-radius: 50%;
    animation: spread linear 0.5s;
}

.song-option-icon:active {
    opacity: 0.8;
}

.progress {
    margin-bottom: 12px;
}

.fa-random.active,
.fa-redo.active {
    color: var(--based-color);
}

.song.active {
    background-color: var(--based-color);
}

.song.active .song_name,
.song.active .song_singer {
    color: white;
}

.song:active {
    opacity: 0.8;
}

.progress {
    -webkit-appearance: none;
    height: 1px;
    width: 368px;
    margin: 16px;
    outline: none;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--based-color);
}

#myVideo {
    position: fixed;
    display: block;
    right: 0;
    bottom: -220%;
    width: 100%;
    z-index: -1;
  }

  .background-pic {
    position: fixed;
    object-fit: cover;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -1;
  }

.footer {
    display: flex;
    flex-direction: column;
    background: rgba(175, 175, 175, 0.2);
    padding-top: 16px;
    bottom: 0;
    width: 100%;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: var(--based-color);
    border-radius: 1rem;
}

.time {
    display: flex;
    justify-content: space-between;
    margin: 0 16px 8px;
}
